*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    margin:0;
    padding:0;
}
#navbar{
    background-color: aliceblue;
    text-align: center;
    color: red;
}
.tag{
    color:blueviolet;
}
